.Button {
  width: 100%;
  color: white;
  background: linear-gradient(45deg, #f21616, #f28b50);
  border: none;
  padding: 0.5rem 2.4rem;
}
.roundedButton {
  width: 100%;
  color: white;
  background: linear-gradient(45deg, #f21616, #f28b50);
  border: none;
  padding: 0.5rem 2.4rem;
  border-radius: 0.4rem;
}
