.Nav {
  display: grid;
  grid-template-columns: 1.5fr 1.7fr 1.9fr;
  align-items: center;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding:5px;
}

.Logo {
  margin: 1rem 3rem;
  width: 200px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.items li a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.search-container {
  position: relative;
}

.searchBox {
  position: relative;
  border-radius: 0.4rem;
  padding:0.5rem;
  border: 1px solid lightgray;
  width:26vw;
}

.logout{
  border-radius: 0.4rem;
  padding: 0.7rem 0.8rem;
  background: linear-gradient(45deg, #f21616, #f28b50);
  color:white
}

nav ul {
  margin-bottom: 0;
}

.searchButton{
  border:0;
  background: linear-gradient(45deg, #f21616, #f28b50);
  color: white;
  margin-left:0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}