.container {
  display: flex;
  margin: 3rem auto;
  background-color: white;
  width: 70vw;
  height: 68vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  width: 50%;
}
.Form{
  width: 100%;
  height: 100%;
}