.container {
  display: flex;
  margin: 3rem auto;
  background-color: white;
  width: 70vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Form {
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 40%;
  margin: auto;
}

.Form form {
  width: 100%;
  height: 100%;
  margin: 1rem;
}

.field {
  justify-self: center;
  width: 90%;
}

.formField {
  width: 90%;
  display: flex;
  gap: 1rem;
}

.Form h1{
  text-align: center;
}
.button {
  width: 90%;
  display: block;
  margin: 3rem 0rem 0rem;
}

.register {
  margin: auto;
  padding: 2rem 8rem;
  align-self: baseline;
}

.register span {
  color: darkorange;
}

.Input {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}

.Input label {
  font-weight: 700;
}

.Input select {
  border: 2px solid #f28b50;
  border-radius: 0.4rem;
  height: 2rem;
}