.avatar {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.location,
.user-rating {
    color: #000;
}

.view_button {
    background: linear-gradient(84deg, #f21616 0%, #f28b50 100%) 0% 0% no-repeat padding-box;
    color: white;
}
