.Input {
  display: flex;
  gap: 3px;
  width: 100%;
  flex-direction: column;
}

.Input label {
  font-weight: 700;
}

.Input input {
  border: 2px solid #f28b50;
  border-radius: 0.4rem;
  height: 2rem;
}

.errors {
  color: red;
}