footer {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: white;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1);
    gap:15rem;
}

.links p {
    font-weight: bold;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    color:inherit;
}
.Logo {
    margin: 0 3rem;
    width: 14.8vw;
    height: 6.28vh;
    background-image: url('../../Images/Barter\'sHubSpriteSheet.png');
    background-size: 2500px auto;
  }

.text {
    margin: 0 3rem;
    padding: 0;
    color: grey;
    font-weight: 700;
}