footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: white;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1);
}

.links p {
    font-weight: bold;
}
.links ul li{
    list-style: none;
}
.Logo {
    margin: 0 4rem;
    width: 200px;
}

.text {
    margin: 0 4rem;
    padding: 0;
    color: grey;
    font-weight: 700;
}