.toggle-button {
    width: 40px;
    height: 18px;
    background-color: white;
    border-radius: 15px !important;
    position: relative;
    cursor: pointer;
  }
  
  .slider {
    width: 15px ;
    height: 15px ;
    background: black;
    border-radius: 50% ;
    position: absolute ;
    top: 0 ;
    right: 0 ;
    bottom:0 ;
    left: 0 ;
    transition: 0.4s ;
  }
  
  .toggle-button.active .slider {
    background: linear-gradient(45deg, #f21616, #f28b50);
    transform: translateX(20px)!important;
  }
  