body {
    background-color: #f7f7f7; 
    font-family: Arial, sans-serif; 
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.input_text {
    width: 100%; 
}

.product-ad-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.upload-btn {
    background: transparent linear-gradient(84deg, #F21616 0%, #F28B50 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.product-ad-form label {
    display: block;
    margin: 10px 0 5px;
}

.image-preview-container img {
    margin-top: 20px;
    width: 100%;
    height: auto; 
    max-height: 300px; 
    object-fit:contain; 
    margin-bottom: 20px;
}

.contact-info-input input {
    
    width: 100%; 
}

@media (max-width: 768px) {
    .contact-info-input input {
        width: 100%;
    }
}

.error-message {
    color: #f21616;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 0.9em;
}
.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.required-indicator {
    color: red;
}

.product-ad-form textarea {
    height: 150px;  
}

.product-ad-form input[type="text"],
.product-ad-form input[type="number"],
.product-ad-form select,
.product-ad-form textarea {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.uploading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .images-preview {
        flex-direction: column;
    }
    .image-upload-box {
        width: 100%;
        margin-bottom: 10px;
    }
}
