.container {
  display: flex;
  margin: 3rem auto;
  background-color: white;
  width: 70vw;
  height: 57vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginHero{
  width:40%;
  background-image: url('../../Images/Barter\'sHubSpriteSheet.png');
  background-position: 12.9% -0%;
  background-size: 620vh auto;
  background-repeat: no-repeat;
}

.Form h1 {
text-align: center;
}

.Form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.hero {
  width: 50%;
  margin: 1rem;
}

.Form form {
  width: 90%;
  height: 100%;
  margin: 1rem;
  gap: 0.5rem;
}

.remember {
  margin: 1rem 0rem;
  align-self: baseline;
  width: 70%;
}

.button {
  width: 100%;
  align-self: baseline;
}

.register {
  margin: 1rem 0rem;
  text-align: center;
}

.register span {
  color: darkorange;
}

