/* ProductList.css */
.product-list-container {
    overflow-x: auto;
    margin-top: 10px;
  }
  
.card{
  height: 450px!important;
  border:0
}
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 15px;
  }
  
  .product-card {
    flex: 0 0 auto;
    margin-right: 15px; 
    width: 300px; 
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 10px;
  }
  .mr-10px{
    margin-right: 10px;
  }
  .view_button {
    background: transparent linear-gradient(84deg, #F21616 0%, #F28B50 100%) 0% 0% no-repeat padding-box;
    color: white;
    border:0;
    width:200px
  }

  .no_gutter{
    --bs-gutter-x: 0rem !important;
   }

  .myImage{
    width : 100px;
  }

  .slick-slide {
    padding: 11px;
}

.react-multi-carousel-item{
  padding:0 10px
}

.HeroImage{
  width:100%;
  background-image: url('../../Images/heroImage.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1494px) {
  .HeroImage{
    height: 42vh;
  }
  .HeroText{
    font-size: 22px;
  }
}