/* ProductList.css */
.product-list-container {
    overflow-x: auto;
    margin-top: 10px;
  }
  
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 15px;
  }
  
  .product-card {
    flex: 0 0 auto;
    margin-right: 15px; 
    width: 300px; 
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 10px;
  }
  .mr-10px{
    margin-right: 10px;
  }
  .view_button {
    background: transparent linear-gradient(84deg, #F21616 0%, #F28B50 100%) 0% 0% no-repeat padding-box;
    color: white;
  }